@use "../../styles/index.scss" as mixins;

.cell {
  @include mixins.borders(#fff, #7b7b7b);
  @include mixins.flex(center);
  font-weight: 700;
  width: 100%;
  height: 100%;
  &:active {
    @include mixins.borders(#7b7b7b, #fff);
  }
  &.opened {
    border-color: #7b7b7b;
    border-width: 1px;
  }
  &.value-1 {
    color: blue;
  }
  &.value-2 {
    color: green;
  }
  &.value-3 {
    color: red;
  }
  &.value-4 {
    color: purple;
  }
  &.value-5 {
    color: maroon;
  }
  &.value-6 {
    color: turquoise;
  }
  &.value-7 {
    color: black;
  }
  &.value-8 {
    color: gray;
  }
}

.red {
  background: red;
}
